<ngb-alert *ngIf="dangerMessage" type="danger" (close)="dangerMessage = null">{{ dangerMessage }}</ngb-alert>

<div class="container" style="text-align:center; margin-top:3%">
  <form>
    <strong>INICIAR SESION</strong>
    <br><br>
     <input type="text" placeholder="Usuario" [(ngModel)] = 'usuario.usuario'  name="name" style="width:20%" required>
     <br><br><input type="password" placeholder="Clave" [(ngModel)] = 'usuario.clave'  name="psw" style="width:20%" required>
    <br> 
    <br><br><button type="button" class="btn btn-success"  (click)="Entrar()" >Ingresar</button> 
  </form>
  <br><br>
  <strong>Ingresar como:</strong>
  <button class='btn btn-default' [hidden]='esCliente' (click)='EntrarComo(1)'>Administrador</button>
  <button class='btn btn-default' [hidden]='esCliente' (click)='EntrarComo(3)'>Encargado</button>
  <button class='btn btn-default' [hidden]='!esCliente' (click)='EntrarComo(2)'>Cliente</button>
  <button class='btn btn-default' [hidden]='esCliente' (click)='EntrarComo(4)'>Remisero</button>
</div>

<app-registro [hidden]='!esCliente' ></app-registro>