<app-menu></app-menu>

<div class="container" style="text-align:center; margin-top:3%">
    <form>
      <strong>REGISTRARSE</strong>
      <br><br>
       
  <form [formGroup]="registroForm"  (ngSubmit)="Registrar()" >
    <div class="container">

      <input type="email" placeholder="Email" name="email" [formControl]="email" required>
      <br>
      <br>
      <input type="password" placeholder="Clave" name="psw"  [formControl]="clave" required>
      <br>
      <br>
      <input type="password" placeholder="Repita su clave"  [formControl]="copiaClave" name="psw-repeat" required>
      <br>
      <br>
      <!--<label><b>Tipo de usuario</b></label>
      <select [formControl]="tipo" name="Tipo" id="tipo">
        <option value="admin">Encargado</option>
        <option value="remisero">Remisero</option>
        <option value="cliente">Cliente</option>
      </select> -->
      <input hidden [formControl]="captcha" name="captcha" required>
      <div style="margin-left: 35%;">
        <div style=" margin-top: 2%; margin-bottom: 2%">
            <re-captcha (resolved)="resolved($event)" siteKey="6LfEKF4UAAAAAFY9SD3LQATL7j4Hak-pANt5_STg"></re-captcha>
       </div>
          <script src='https://www.google.com/recaptcha/api.js'></script>
          
    </div>
       <div>
        <button type="submit" [hidden]=seRegistro class="btn btn-success" [disabled]="!registroForm.valid">Registrarme</button>
        <p-progressSpinner [hidden]=!seRegistro  [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
      </div>
    </div>
  </form>
  </form>
</div>