@font-face{
    font-family: 'Athena';
    src: url('../assets/font/Athena.ttf')
}

@font-face{
    font-family: 'Delius';
    src: url('../assets/font/Delius.ttf')
}

@font-face{
    font-family: 'Punktype';
    src: url('../assets/font/Punktype.ttf')
}
