<app-menu></app-menu>
<button (click)="Exportar()">Exportar</button>
<div id=contentToConvert>
<table class="table table-condensed" style="table-layout:fixed" > 
    <thead>
<!--        <tr>
            <th></th>
            <th></th>
        </tr>-->
      </thead>
      <tbody>
            <tr> 
                <td> <strong> VIAJES POR TIPO DE SERVICIO</strong> <br> <app-tipo-serv></app-tipo-serv></td>        
                <td> <strong>CALIFICACIONES DE CHOFERES</strong> <br> <app-calificacion></app-calificacion> </td>        
            </tr>  
      </tbody> 
    </table>
    <div style="text-align: center; width: 67%">
    <strong>CANTIDAD DE VIAJES POR CHOFER</strong> <br> 
    
        <app-viajes></app-viajes>
    </div>
</div>