<ngb-alert *ngIf="dangerMessage" type="danger" (close)="dangerMessage = null">{{ dangerMessage }}</ngb-alert>

<div class="container" style="text-align:center; margin-top:10%">
  <form>
    <strong>INICIAR SESION</strong>
    <br><br>
     <input type="text" placeholder="Usuario" [(ngModel)] = 'usuario.usuario'  name="name" style="width:20%" required>
     <br><br><input type="password" placeholder="Clave" [(ngModel)] = 'usuario.clave'  name="psw" style="width:20%" required>
    <br>  <div style="margin-left: 35%; margin-top: 2%">
     <re-captcha  (resolved)="resolved($event)" siteKey="6LfEKF4UAAAAAFY9SD3LQATL7j4Hak-pANt5_STg"></re-captcha>
    </div>
     <br><br><button type="button" class="btn btn-success"  (click)="Entrar()" >Ingresar</button>
  </form>
  
     <script src='https://www.google.com/recaptcha/api.js'></script>
     
</div>
